{% extends "AcmeRentacarBundle::base.html.twig" %}

{% block page_title '予約' %}
{% set menu = 'reservation' %}

{% block content %}
<form action="{{ path('reservation_new') }}" method="post">
	<fieldset>
		<legend>出着情報入力</legend>
		<div class="control-group">
			<label class="control-label">出発</label>
			<div class="controls">
				<div class="input-datetime">
					<div id="departureAt_date">
						<select><option>2012</option></select>/<select><option>04</option></select>/<select><option>03</option></select>
					</div>
					<div id="departureAt_time">
						<select><option>10</option></select>:<select><option>00</option></select>
					</div>
				</div>
				<select><option>神楽坂</option></select>営業所
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">返却</label>
			<div class="controls">
				<div class="input-datetime">
					<div id="returnAt_date">
						<select><option>2012</option></select>/<select><option>04</option></select>/<select><option>03</option></select>
					</div>
					<div id="returnAt_time">
						<select><option>10</option></select>:<select><option>00</option></select>
					</div>
				</div>
				<select><option>神楽坂</option></select>営業所
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="車種選択へ進む">
		</div>
	</fieldset>
</form>
{% endblock %}
